<h1><% @user.email %></h1>

<% if @user.posts.any? %>
  <ul>
    <% @user.post.each do |post| %>
      <li>
      <h2><%= post.name %></h2>
      <%= image_tag post.image.url(:medium) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2> No posts to show! </h2>
<% end %>