<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
  <center>


  <div class="posts-list">
    <% if @posts.any? %>
    <% @posts.each do |post| %>
     <%= link_to "#{post.name}" , post_path(post) %>
     <%= image_tag post.image.url(:thumb), :class=> "thumb" %>
    <% end %>
  </div>

    <a href='/posts/new'>+</a>
  <% else %>
      <h3>we have 0 to show</h3>
      <a class="posts-new" href='/posts/new'> + something.
  <% end %>
  </center>
  </body>


</html>
