<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
  <h1>Instagram</h1>
  <%if @posts.any?%>
    <% @posts.each do |post| %>
     <%= link_to "#{post.name}" , post_path(post) %>
     <%= image_tag post.image.url(:thumb) %>
    <% end %>
    <a href='/posts/new'>Add a new post!</a>
  <% else %>
      <h3>We don't have any posts yet!</h3>
      <a href='/posts/new'>Why not add the first?</a>
  <% end %>
  </body>


</html>
