/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: 'Sarpanch', sans-serif;
}

header{
  height: 30px;
  width: 100%;
  background-color: #C6F91F;
  margin-top: 0px;
  margin-bottom: 5px;
}

.logo {
  float:left;
  clear: both;
  height: 80px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.4;
}

.logo:hover {
  opacity: 1;
  webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: 2s;
} 
h1 {
  float:right;
  margin-top: 8px;
  opacity: 0.3;
}

.posts-list{
  background-color: #FEB95F;
}

.thumb {
  text-align: center;
  -webkit-filter: brightness(100%); 
  filter: brightness(100%); 
  display: inline;
  position: relative;
}
.thumb:hover {
}

a.posts-new {
  list-style-type: none;
  margin-top: 1px;
  text-align: center;
  font-family: 'Sarpanch', sans-serif;
}